APP_ENV=Dev
API_URL=https:/$()/hub.quanlythuysan.vn/
APP_DISPLAY_NAME=SatAlert
APP_PLACEHOLDER_NAME=SatAlert
VERSION_CODE=2
VERSION_CODE_ANDROID=2
VERSION_NAME=1.2
VERSION_APP=23
BUNDLE_IDENTIFIER=com.satalert
ASSETCATALOG_COMPILER_APPICON_NAME=AppIcon
DEBUG_PROVISIONING_PROFILE=com_sdhub
RELEASE_PROVISIONING_PROFILE=com_sdhub_appstore
DEFAULT_FALLBACK_LNG_I18n=vi
API_KEY=AIzaSyAGPRvot_LlE7Ku5dAuK_80Gl84Qi5GHIw
GOOGLE_CLIENT=213313186886-4kli87m589cd2uaac20bcfinma62l24i.apps.googleusercontent.com
