<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>213313186886-fbqmrvvr4qrr6vo3ds82akiu172q28m6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.213313186886-fbqmrvvr4qrr6vo3ds82akiu172q28m6</string>
	<key>API_KEY</key>
	<string>AIzaSyDUIfzkO833jZkTwCtsQPuyM-mEt5pPN1M</string>
	<key>GCM_SENDER_ID</key>
	<string>213313186886</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.sdhub.com</string>
	<key>PROJECT_ID</key>
	<string>miaket-361909</string>
	<key>STORAGE_BUCKET</key>
	<string>miaket-361909.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:213313186886:ios:ac5c126e0790430441ee47</string>
</dict>
</plist>